---
layout: default
---

<!-- Start Hero -->
{% include hero-banner.html %}
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <a href="#booking"  class="scroll">
            <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
            <h3>Travel Bookings</h3>
            <ul>
                <li>Flight, Train & Bus Booking</li>
                <li>Hotel Reservation</li>
            </ul>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="#tour" class="scroll">
        <svg class="icon icon-tour"><use xlink:href="#icon-tour"></use></svg>
        <h3>Package Tours</h3>
          <ul>
            <li>Holy Land Pilgrimage</li>
            <li>Explore Dharamsala</li>
            <li>South India Tibetan Settlement Tour</li>
          </ul>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="#services"  class="scroll">
            <svg class="icon icon-leaf"><use xlink:href="#icon-leaf"></use></svg>
        <h3>Services</h3>
            <ul>
                <li>VISA Assistance</li>
                <li>Access & Safety</li>
                <li>Spiritual Direction</li>
                <li>Various Online Bill Payment & Tax Filling</li>
            </ul>
        </a>
    </div>
</div>
<!-- End 3 columns -->



<!-- Start Treatments -->
{% include booking.html %}

<!-- End Treatments -->

<!-- Start Our team -->
{% include tour.html %}
<!-- End Our team -->

<!-- Start services -->
{% include services.html %}
<!-- End services -->

<!-- Start Testimonials -->
{% include testimonials.html %}
<!-- End Testimonials -->

<!-- Start Gallery -->
<!--{% include gallery.html %} -->
<!-- End Gallery -->

<!-- Start Map -->
<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>
<!-- End Map -->
{% include contact.html %}
