<div id="booking" class="booking">
    <div class="container-fluid">
        <h2 class="section-title">bookings</h2>

        <div class="row">
            {% for booking in site.data.booking %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ booking.icon }}"><use xlink:href="#{{ booking.icon }}"></use></svg>
                        <h4>{{ booking.title }}</h4>
                        <p>{{ booking.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>