<div class="team" id="team">
    <div class="container-fluid">
        <h2 class="section-title">Package Tour</h2>
        <div class="col-sm-4">
            <h4>HOLY LAND PILGRIMAGE</h4>
       
        
    </div>
    <div class="col-sm-4">
         <h4>EXPLORE DHARAMSALA </h4>
      <ul>
          <li>Walk in the footsteps of Buddha and connect to the real people in the pages of scriptures. </li>
          <li>Walk in the footsteps of Buddha and connect to the real people in the pages of scriptures. </li>
          <li>Walk in the footsteps of Buddha and connect to the real people in the pages of scriptures. </li>
          <li>Walk in the footsteps of Buddha and connect to the real people in the pages of scriptures. </li>
          <li>Walk in the footsteps of Buddha and connect to the real people in the pages of scriptures. </li>
          <li>Walk in the footsteps of Buddha and connect to the real people in the pages of scriptures. </li>
          <li>Walk in the footsteps of Buddha and connect to the real people in the pages of scriptures. </li>
      </ul>
        
    </div>
    <div class="col-sm-4">
        <h4>SOUTH INDIA TIBETAN SETTLEMENT TOUR</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nobis velit voluptatem necessitatibus, alias ipsum in, aliquid ipsa, nulla doloribus nihil officia laboriosam unde accusantium! Saepe officia quisquam dolorum soluta!
        </p>
        
    </div>

    </div>
    

</div>
<!--
<div id="team" class="team"> 
    <h2 class="section-title">Tours</h2> 
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <h2>Tours</h2>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
-->