<div id="tour" class="team"> 
    <h2 class="section-title">Package Tour</h2> 
    <div class="container-fluid">
        <div class="row">
               <div class="col-sm-6 ">
            <h3 class="title-h3">HOLY LAND PILGRIMAGE </h3>  
            <p>
            Walk in the footsteps of Buddha and connect to the real people in the pages of scriptures. 
            Visit the places where he lived, about his disciples and his work. 
            Touch and venerate the places where Buddha was born, gave his first sermon, attained enlightenment and died.  
            Stand in those holy places and pray for your loved ones and for humanity. 
            Meet other Buddhist on the journey of faith and build new friendships. 
            Interact and share your views. 
            Eat local foods and shop gifts such as rosaries, Thangkas and other products handmade by Tibetan Refugees.  
            </p>
            <ul>
                <li>LUMBINI - Birthplace of Lord Buddha</li>   
                <li> SARNATH - Where Buddha gave his first teachings on Dharma </li>
                <li>BODH GAYA - Where Buddha attained enlightenment </li>
                <li>KUSHINAGAR - Where Buddha died/ entered Nirvana</li> 
            </ul>
        </div>

        <div class="col-sm-6 thumbnail">
            <img src="/img/hero(2).jpg" alt="" class="img-responsive">
        </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            <h3 class="title-h3">EXPLORE DHARAMSALA </h3>       
            <p>
                Learn about Tibetan Culture, Buddhism and listen to stories from Tibetan Refugees 
            </p>
            <p>
                <ul>
                    <li>Tsuklhakhang - Dalai Lama's Temple </li>
                    <li>Tibet Museum </li>
                    <li> Bagsunath Waterfall </li>
                    <li>Dal Lake </li>
                    <li>Norbulingka Institute </li>
                    <li>Gyuto Monastery - Karmapa's Residence </li>
                    <li>Tibetan Children's Village School Tour</li>
                </ul>
            </p>
        </div>
        <div class="col-sm-6 thumbnail">
            <img src="/img/hero(2).jpg" alt="" class="img-responsive">
        </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
            <h3 class="title-h3">SOUTH INDIA TIBETAN SETTLEMENT TOUR </h3>
          <ul>
               <li>Visit Bylakupee Tibetan Settlement, the largest Tibetan Settlement- Go around and visit Sera Monastery  </li>
                <li>Eat Local Foods </li> 
                <li>Sightseeing in Local Markets and shop some South Indian traditional attires </li>
                <li>Sightseeing in Mundgod, which is 4 hours drive from Goa and a home to two of the largest monasteries in India  </li>
                <li>Walk in Drepung Loseling Monastery and Gaden Monastery and learn about Buddhist Philosophy</li> 
                <li>See how young and old monks do dialectical practice </li>
                <li>Visit Old-age home and listen to their inspiring story</li>  
                <li>Visit Tibetan Handicraft Centre and some locally run organic industries by Tibetans </li>

          </ul>
    </div>
   <div class="col-sm-6 thumbnail">
            <img src="/img/hero(2).jpg" alt="" class="img-responsive">
        </div>
    </div>
        </div>
    
</div>      
 